<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de pagos</title>
</head>
<body>
    <h1>Ingresa el numero de su medidor:</h1>
    <form method="post">
        {% csrf_token %}
        <input type="number" name="meter_number" required>
        <button type="submit">Buscar</button>
    </form>

    {% if error %}
    <div style="color: red;">
        El número ingresado no es válido.
    </div>
    {% endif %}
</body>
</html>
