<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar usuario</title>
</head>
<body>
<h1> Actualizar usuario </h1>
<div>
    <form method="post">
        {% csrf_token %}
        Numero de medidor: <input type="number" name="meter_number" required> <br>
        Nombre: <input type="text" name="user_name" required> <br>
        Direccion: <input type="text" name="home_direction" required> <br>
        <label for="id_contract_type">
        Contract type: </label> <select name="contract_type" required id="id_contract_type">
        <option value="" selected>---------</option>

  <option value="Residencial">Residencial</option>

  <option value="Comercial">Comercial</option>

  <option value="Industrial">Industrial</option>

                    <br><input type="Submit" value="Actualizar"/>

    </form>
</div>

    {% if error %}
    <div style="color: red;">
        El número ingresado no existe.
    </div>
    {% endif %}

</body>
</html>