ADEUDOS
<p>{{ user.user_name}}</p>
<p>{{ user.meter_number}}</p>


<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo de Tabla HTML</title>
</head>
<body>
    <h1>Tabla de Ejemplo</h1>
    
    <table border="1">
        <tr>
            <th>Numero de medidor</th>
            <th>Año</th>
            <th>Mes</th>
            <th>Dia de Corte</th>
            <th>Cantidad de Agua</th>
        </tr>
        <tr>
            <td>Fila 1, Columna 1</td>
            <td>Fila 1, Columna 2</td>
            <td>Fila 1, Columna 3</td>
        </tr>
        <tr>
            <td>Fila 2, Columna 1</td>
            <td>Fila 2, Columna 2</td>
            <td>Fila 2, Columna 3</td>
        </tr>
    </table>
</body>
</html>



