<!DOCTYPE html>
<html>
<body>
    <h1>Adeudos</h1>
    Nombre del propietario: <p>{{ user.user_name}}</p>
    Numero de medidor: <p>{{ user.meter_number}}</p>
    
    <table border="1">
        <tr>
            <th>Año</th>
            <th>Mes</th>
            <th>Dia de Corte</th>
            <th>Cantidad de Agua</th>
            <th>Adeudo anterior</th>
            <th>Generar recibo</th>
            
        </tr>
        {% for item in debts %}
        <tr>
            <td>{{item.year}}</td>
            <td>{{item.month}}</td>
            <td>{{item.cut}}</td>
            <td>{{item.water_usage_m3}}</td>
            <td>{{item.debt}}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">Buscar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
   
</body>
</html>



